<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/xhtml">

    <head th:replace="/fragment1 :: head"></head>
    <header th:replace="/fragment1 :: header"></header>
    
    <body>

            <!--Iteração com a lista de filmes disponíveis-->
            <div class="filmeBlock" th:each = "f : ${movies}">
                <div class="row" >
                    <div class="col-md-3 offset-1">
                        <img th:src="${f.imageUrl}" alt="Generic placeholder image">
                    </div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="mt-0" th:text="${f.name}"></h4>
                            </div>
                            <div class="col-sm-12">
                                <div class="rating" th:each="i : ${#numbers.sequence(1,f.rating)}">
                                    <i class="fas fa-star iconIndex"></i>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <p th:text="${f.year}"></p>
                                <p ht:text="${f.genre.name}"></p>
                            </div>

                            <div class="col-sm-10">
                                <p class="prospect" th:text="${f.prospect}"></p>
                            </div>
                            <div class="col-sm-2"></div>
                            <div class="col-sm-10">
                                <p class="actors" th:text="'Elenco: '+ ${f.actors}"></p>
                                <p class="actors" th:text="'Direção: '+${f.director}"></p>
                            </div>
                            <div class="col-sm-2"></div>
                            <div class="col-sm-12">
                                <div class="filmBottons">                                  
                                    <a 
                                        th:href="@{/detalhe_filme/{idMovie}(idMovie=${f.id_movie})}" 
                                        class="btn btn-outline-success" 
                                        role="button" aria-pressed="true">
                                        Trailer
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </body>
    
</html>
