<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="/fragment1 :: head"></head>
    <header th:replace="/fragment1 :: header"></header>
    <body>
        <div th:replace="/fragment1 :: erro"></div>        
        <div class="container-fluid" th:if="${erro} == null">
            <div class="col-sm-12">
                <h3 class="titleMovieDetail" th:text="${movie.name}"></h3>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="embed-responsive trailer" id="player">
                        <iframe frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="row filmeBlock">
                <div class="col-md-3 offset-1">
                    <img th:src="${movie.imageUrl}" alt="Generic placeholder image">
                </div>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="rating" th:each="i : ${#numbers.sequence(1,movie.rating)}">
                                <i class="fas fa-star iconIndex"></i>
                            </div>
                            
                        </div>

                        <div class="col-sm-12">
                            <p th:text="${movie.year}"></p>
                            <p th:text="${movie.genre.name}"></p>
                        </div>

                        <div class="col-sm-10">
                            <p class="prospect" th:text="${movie.prospect}"></p>
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            <p class="actors" th:text="'Elenco: '+${movie.actors}"></p>
                            <p class="actors" th:text="'Direção: '+${movie.director}"></p>
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-12">

                            <div class="filmBottons">
                                <a 
                                    class="btn btn-outline-success"
                                    role="button" aria-pressed="true"
                                    data-toggle="tooltip" 
                                    data-placement="top" 
                                    title="Alugue já!" 
                                    th:text="'R$ '+${#numbers.formatDecimal(movie.rentPrice, 0, 'POINT', 2, 'COMMA')}"
                                    th:href="@{/alugar/{idMovie}(idMovie=${movie.id_movie})}">
                                </a>
                                <a 
                                    th:href="@{/}" 
                                    class="btn btn-outline-success" 
                                    role="button" aria-pressed="true">
                                    Voltar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script th:if="${erro} == null" th:inline="javascript">
        /*<![CDATA[*/
        // 2. This code loads the IFrame Player API code asynchronously.
        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // 3. This function creates an <iframe> (and YouTube player)
        //    after the API code downloads.
        var player;
        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                height: '360',
                width: '640',
                videoId: /*[[${movie.trailler}]]*/ 'default',
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                }
            });
        }

        // 4. The API will call this function when the video player is ready.
        function onPlayerReady(event) {
            event.target.playVideo();
        }

        // 5. The API calls this function when the player's state changes.
        //    The function indicates that when playing a video (state=1),
        //    the player should play for six seconds and then stop.
        var done = false;
        function onPlayerStateChange(event) {
            if (event.data == YT.PlayerState.PLAYING && !done) {
                setTimeout(stopVideo, 10000);
                done = true;
            }
        }
        function stopVideo() {
            player.stopVideo();
        }
        /*]]>*/
    </script>
</html>
