<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/xhtml">

    <head th:replace="/fragment1 :: head"></head>
    <body>
        <h1>Página Novo usuário</h1>

        <div class="container">
            <div class="row">
                <div class="col-sm">
                    
                </div>
                <div class="col-sm">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Confirm Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password">
                        </div>
                        <button type="button" class="btn btn-outline-success">Cadastrar</button>
                        
                    </form>
                </div>
                <div class="col-sm">
                    
                </div>
            </div>
        </div>
    </body>
</html>
